ion-content {
  --padding-top: 15px;
  --padding-bottom: 40px;

  .description {
    ion-label {
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .list-content {
    padding-left: 5px;
    padding-right: 20px;

    .qc-description {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 20px;
      color: #666674;
      font-weight: 300;
      letter-spacing: 0.4pt;
    }
  }
}

ion-header {
  ion-label {
    &.header-txt {
      padding-right: 34px;
    }
  }
}
