ion-content {
  --overflow: hidden;
  .header-content{
    ion-icon{
      &.close{
        font-size: 25px;
        position: absolute;
        left: 0;
        top: 0;
        color: #65b4b9;
        border: 1px solid;
        border-radius: 30px;
        margin: 10px;
      }
    }
    ion-icon:active{
      &.close{
        background: #65b4b9;
        color: white;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    justify-content: center;
  }

  .card-content{
    display: flex;
    flex-direction: column;
    height: calc(100% - 160px);
    margin: auto 20px;
    background: #eff3f6;
    border-radius: 7px 7px 0 0;
    overflow-y: auto;
    font-size: 14px;
    .spiner-content{
      height: 100%;
    }
  }

  ion-label {
    color: #333959;
    font-size: 14px;

    &.card-header-txt{
      font-size: 17px;
      line-height: 30px;
      text-decoration: underline;
      padding-bottom: 25px;
      font-weight: bold;
      text-align: center;
    }

    &.mm-content-txt {
      font-size: 18px;
      line-height: 20px;
      align-items: center;
      display: flex;
      padding: 0 10px;
      ion-img{
        width: 25px;
        height: auto;
        margin-right: 10px;
        margin-left: 13px;
      }
      ngx-avatar{
        margin-right: 10px;
        margin-left: 13px;
      }
    }

  }

  ion-button {
    &.modal-btn {
      margin: auto;
      display: block;
      width: 100%;
      height: 50px;
      font-size: 16px;
      line-height: 24px;
      --border-radius: 0px;
      bottom: 0;
      position: absolute;
      font-weight: 400;
      --background: #65b4b9;
    }
  }
}
