.time_chart {
  margin-top: 40px;
  margin-bottom: 16px;
  padding: 0 20px;
  position: relative;

  .chart {
    // z-index: 11;
    padding: 0 22px;
    display: flex;
    position: absolute;
    bottom: 18px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .small_circle {
      border-radius: 10px;
      border: 1px solid #d1d0d5;
      width: 12px;
      height: 12px;
      background: white;
    }
  }

  mat-slider {
    min-width: 100%;

    ::ng-deep .mat-slider-thumb {
      right: -12px;
      bottom: -12px;
      width: 24px;
      height: 24px;
      background-color: #3a8093;
      border-color: #3a8093;
    }
  }
}

.mat-slider-wrapper {
  background-color: #3a8093;
}

.bg-border-blue {
  background-color: #3a8093 !important;
  border-color: #3a8093 !important;
}

.z-index-set {
  z-index: 33;
}
