ion-content {
  --padding-top: 95px;
  --padding-bottom: 0px;

  .content {
    margin-top: 30px;
  }

  ion-label {
    &.card-header-txt {
      font-size: 16px;
      letter-spacing: 0.6pt;
      display: initial;
    }

    &.card-content-txt {
      font-size: 10px;
      line-height: 12px;
      color: #666674;
      text-align: center;
    }

    &.card-info-txt {
      padding-left: 6px;
      font-size: 10px;
      line-height: 12px;
    }

    &.card-footer-txt {
      font-size: 10px;
      line-height: 12px;
      color: #666674;
    }

    &.description-label {
      font-size: 15px;
      line-height: 18px;
      display: block;
      padding-bottom: 18px;
    }
  }

  ion-button {
    &.normal {
      margin-bottom: 25px;
    }
  }

  .nomal-card {
    // height: 224px;
    width: 100%;
    border-left: 4px solid #3a8093;
    border-radius: 8px;
    margin-bottom: 44px;

    .nomal-card-header {
      padding: 14px 14px 11px;
    }

    .nomal-card-content {
      padding: 0px 14px 24px;
    }

    .nomal-card-info {
      padding: 0px 14px 24px;

      ion-row {
        border-left: 1px solid #5394E0;
        height: 12px;
        margin: 0 0px 8px;
      }
    }

    .nomal-card-footer {
      display: flex;
      justify-content: space-around;
      padding-bottom: 30px;
    }
  }

  .investment-details {
    ion-row {
      border-left: 2px solid #5394E0;
      height: 12px;
      margin-bottom: 12px;
    }
  }
}
