<ion-content>
    <form (ngSubmit)="onSinginSubmit()" [formGroup]="validate_reset_password" class="custom-body">
        <div class="flex-custom">
            <ion-icon class="forgot-password-icon"></ion-icon>
            <ion-label class="mdl-title color-blue"> Forgot Password</ion-label>

            <ion-label class="mdl-content-txt">
                To reset password, enter the email address you use to sign in
            </ion-label>
            <ion-list mode='ios'>
                <ion-input formControlName="email" mode="ios" name="email" placeholder="Enter your email address"
                           type="text"></ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div *ngIf="validate_reset_password.get('email').hasError(validation.type) && (validate_reset_password.get('email').dirty || validate_reset_password.get('email').touched || submitState)"
                             class="error-message">
                            <ion-label>{{ validation.message }}</ion-label>
                        </div>
                    </ng-container>
                </div>
            </ion-list>
            <ion-button [disabled]="isAuthSignin" class='normal bg-blue modal-btn' mode='ios' type="submit">
                <ion-spinner *ngIf="isAuthSignin" name="lines"></ion-spinner>
                Submit
            </ion-button>
        </div>
    </form>
</ion-content>
