<ion-header #ionHeader mode="ios">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-label #headerTxt class="header-txt">Opportunities</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content #scrollArea (ionScroll)="scroll($event)" [scrollEvents]="true" mode="ios">

  <!-- <ion-fab *ngIf="!is_verify" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/verify">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <div #headerTitle class="description-header">
    <ion-label class="header-label">Opportunities</ion-label>
  </div>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="checked">
    <ion-segment-button *ngFor="let arrSegment of arrSegments" [value]="arrSegment.value">
      <ion-label>{{ arrSegment.label }}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-cards *ngIf="duringFetching"></app-cards>
  <app-opportunities-details [data]="Params"></app-opportunities-details>
</ion-content>
