
ion-list {
  border-radius: 7px;
  background: transparent;
  padding-top: 15px;
  .input-item {
    min-height: 65px;
    .validation-errors {
      padding: 0 10px;
      .error-message {
        padding: 5px 10px 0;
        font-size: 10px;
        color: #d12a27;
      }
    }
    ion-item {
      --padding-start: 6px;
      --padding-end: 6px;
      --border-color: #D1D0D5;
      --background: transparent;

      .phone-prefix {
        max-width: 55px;
      }

      ion-select{
        min-width: calc(100% - 25px);
        font-size: 14px;
        --padding-bottom: 0;
      }

      ion-input {
        --padding-start: 19px;
        --padding-bottom: 0px;
        font-size: 12px;
      }
      ion-icon{
        &.nomal-icon{
          margin: 0px 0px -10px 5px;
          font-size: 20px;
          color: #c2c3cc;
        }
      }
    }
    ion-item + ion-item {
      margin-top: 18px;
    }
  }
}
