<form (ngSubmit)="onFormSubmit()" [formGroup]="validate_form" class="custom-body">
  <div class="form-content">
    <ion-list>
      <div class="input-item">
        <ion-item mode='ios'>
          <ion-icon name="pin" class="nomal-icon"></ion-icon>
          <ion-select formControlName="country" (ionChange)="onChange()" name="country">
            <ion-select-option *ngFor="let _country of countries" [value]="_country.country">{{_country.countryName}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="input-item">
        <ion-item mode='ios'>
          <ion-icon class="phone"></ion-icon>
          <ion-input (keypress)="userTypingForm($event)" class="phone-prefix" formControlName="phone_prefix" name="phone_prefix" placeholder="+" type="tel" readonly>
          </ion-input>
          <ion-input (keypress)="userTypingForm($event)" formControlName="phone" name="phone"
                     placeholder="Enter your phone number" type="number">
          </ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.phone_prefix">
            <div *ngIf="validate_form.get('phone_prefix').hasError(validation.type) && (validate_form.get('phone_prefix').dirty || validate_form.get('phone_prefix').touched || submitState)"
                 class="error-message">
              <ion-label>{{ validation.message }}</ion-label>
            </div>
          </ng-container>
          <ng-container *ngFor="let validation of validation_messages.phone">
            <div *ngIf="validate_form.get('phone').hasError(validation.type) && (validate_form.get('phone').dirty || validate_form.get('phone').touched || submitState)"
                 class="error-message">
              <ion-label>{{ validation.message }}</ion-label>
            </div>
          </ng-container>
        </div>
      </div>
    </ion-list>
    <ion-row class="save-button-right">
      <ion-button [disabled]="isSubmitReady" class="bg-blue" mode="ios" type="submit">
        <ion-spinner *ngIf="isSubmitReady" name="lines"></ion-spinner>
        Save
      </ion-button>
    </ion-row>
  </div>
</form>
