<ion-header #ionHeader mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)='fn_back()' color="dark" mode="ios">
                <ion-icon class="arrow-left"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-label #headerTxt class="header-txt">{{ deal_info.dealName }}</ion-label>
    </ion-toolbar>
</ion-header>


<ion-content #scrollArea (ionScroll)="scroll($event)" [scrollEvents]="true" mode="ios">
    <div #headerTitle class="description-header">
        <ion-label class="header-label">Pledge Amount</ion-label>
        <ion-label class="header-smalllabel">({{ deal_info.dealName }})</ion-label>
    </div>
    <app-stepper [max]="steps" [min]="1" [value]="1"></app-stepper>
    <ion-list *ngIf="deal_info.type !== 'Equity'">
        <ion-item lines="none" mode='ios'>
            <ion-icon class="profit"></ion-icon>
            <ion-label class="content-txt">{{investimentDetails.roi_text}}:</ion-label>
            <ion-label class="value-txt">{{investimentDetails.roi_percentage}}%</ion-label>
        </ion-item>
        <ion-item lines="none" mode='ios'>
            <ion-icon class="duration"></ion-icon>
            <ion-label class="content-txt">Contract Duration:</ion-label>
            <ion-label class="value-txt">{{investimentDetails.contract_duration}}</ion-label>
        </ion-item>
        <ion-item lines="none" mode='ios'>
            <ion-icon class="pound"></ion-icon>
            <ion-label class="content-txt">{{investimentDetails.cash_out_text}}</ion-label>
            <ion-label class="value-txt">{{investimentDetails.cash_out_available}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="deal_info.type === 'Equity'">
        <ion-item lines="none" mode='ios'>
            <ion-icon class="profit"></ion-icon>
            <ion-label class="content-txt">Share price :</ion-label>
            <ion-label class="value-txt">£{{investimentDetails.share_price}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-row>
        <ion-label class="limit-amount">Min Amount : <span>£{{investimentDetails.min_amount}}</span></ion-label>
        <ion-label class="limit-amount">Max Amount : <span>£{{investimentDetails.max_amount}}</span></ion-label>
    </ion-row>
    <div class="bg-amount-list">
        <div class="amount-list bg-blue" lines="none">
            <ion-label class="amount-header">Enter Investment Amount</ion-label>
            <ion-input class="special-input" (ionBlur)="fn_focus($event, investimentDetails.min_amount, investimentDetails.max_amount)" 
                [(ngModel)]="tempAmount" #amountInput (ionChange)="userTyping(amountInput.value, investimentDetails.min_amount, investimentDetails.max_amount)" 
                type="number"
            >
                <slot>£ </slot>
            </ion-input>
            <ion-label *ngIf="isError" class="error-txt">
                Please input investment amount!
            </ion-label>
            <ion-label *ngIf="!isError && isValidError" class="error-txt">
                Please input correct amount!
            </ion-label>
        </div>
        <ion-label class="no-shares" *ngIf="deal_info.type === 'Equity'">No. shares: {{ noOfShares ? noOfShares: '' }}</ion-label>
        <div class="decide-purchase" *ngIf="showOffers">
            <ion-label class="decide">You must purchase a whole number of shares:</ion-label>
            <ion-button class="bg-red" [disabled]="plegeOffers[0].disabled" (click)="defineNoOfShares($event, plegeOffers[0].amount)" [value]="plegeOffers[0].count">
                £{{ plegeOffers[0].amount }} FOR {{ plegeOffers[0].count }} SHARES
            </ion-button>
            <ion-button *ngIf="plegeOffers[1].amount !== plegeOffers[0].amount" class="bg-red"[disabled]="plegeOffers[1].disabled"  [value]="plegeOffers[1].count" (click)="defineNoOfShares($event, plegeOffers[1].amount )">
                £{{ plegeOffers[1].amount }} FOR {{ plegeOffers[1].count }} SHARES
            </ion-button>
        </div>

        <!-- <ion-label class="amount">£{{ amountVal }}</ion-label> -->
    </div>
    <!-- <ion-label class="amount-description">Estimated cash out profit available after 12 month:</ion-label>
    <ion-label class="amount-value">£{{ sumAmount }}</ion-label> -->

</ion-content>
<ion-footer class="footerarea">
    <ion-button [disabled]="!readyToNext" (click)='gotoPaymentOptions()' class="btn-footer normal bg-blue" mode="ios">Next</ion-button>
</ion-footer>
