<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="gotoMyDeal()" tab="my-deal">
            <ion-icon class="my-deal-icon"></ion-icon>
            <ion-label class="default-txt">My Deal</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="gotoInvest()" tab="invest">
            <ion-icon class="invest-icon"></ion-icon>
            <ion-label class="default-txt">Invest</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="gotoActivity()" tab="activity">
            <ion-icon class="activity-icon"></ion-icon>
            <ion-label class="default-txt">Activity</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="gotoPay()" tab="pay">
            <ion-icon class="pay-icon"></ion-icon>
            <ion-label class="default-txt">Pay</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="gotoCacheout()" tab="cache-out">
            <ion-icon class="cache-out-icon"></ion-icon>
            <ion-label class="default-txt">Cash Out</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>

