ion-header {
    background: rgb(249, 249, 249);
    ion-toolbar {
        --background: rgb(249, 249, 249);
    }
    ion-label {
        &.header-txt {
            padding-left: 24px;
        }
    }
}

ion-content {
    --padding-top: 15px;
    --background: rgb(249, 249, 249);
    .spiner-content {
        height: calc(100% - 90px);
    }
    ion-list {
        ion-item {
            margin: 15px 0;
            border-radius: 7px;
            box-shadow: 0px 1px 3px #ebebebcf;
            ion-icon {
                color: gray;
                font-size: 22px;
            }
            ion-thumbnail {
                width: 70px;
                height: auto;
                min-height: 100px;
                margin: auto 10px auto 0px;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
            }
            ion-label {
                &.item-content {
                    padding-left: 4px;
                }
                .opportunities-title {
                    font-weight: 500;
                    display: block;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.4pt;
                    color: #3a8093!important;
                    white-space: pre-wrap;
                }
                .opportunities-content-txt {
                    display: block;
                    font-size: 16px;
                    line-height: 30px;
                    color: #666674;
                    white-space: pre-wrap;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .flex-content {
        align-items: center;
        height: 70%;
        ion-label {
            &.opportunities-txt {
                padding-top: 20px;
                font-size: 12px;
                display: block;
                line-height: 20px;
                letter-spacing: 0.6pt;
                color: #707070;
            }
        }
    }
}

.deals-container {
    padding: 0 20px;
}
