<ion-header #ionHeader mode="ios">
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-menu-button class="menu"></ion-menu-button>
        </ion-buttons>
        <ion-label #headerTxt class="header-txt">Pledges</ion-label>

    </ion-toolbar>
</ion-header>


<ion-content #scrollArea (ionScroll)="scroll($event)" [scrollEvents]="true" mode="ios">
    <div #headerTitle class="description-header">
        <ion-label class="header-label">Pledges</ion-label>
    </div>

    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="checked">
        <ion-segment-button *ngFor="let arrSegment of arrSegments" [value]="arrSegment.value">
            <ion-label>{{ arrSegment.label }}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <app-cards *ngIf="!isReady"></app-cards>

    <div class="deals-container" *ngIf="isReady">
        <ion-list>
            <ion-item lines="none" *ngFor="let pledge of pledges; let i = index"  (click)="gotoPayment(pledge.pledge_id, pledge.status)">
                <ion-thumbnail *ngIf="pledge.logo_image" slot="start">
                    <ion-img src="{{ pledge.logo_image }}"></ion-img>
                </ion-thumbnail>
                <ion-thumbnail *ngIf="!pledge.logo_image" slot="start">
                    <ngx-avatar [round]="true" bgColor="#4f8d9f0f" fgColor="#3a8093" initialsSize="3" name="{{ pledge.deal_name }}"
                                size="70"></ngx-avatar>
                </ion-thumbnail>
                <ion-label class="item-content">
                    <p class="opportunities-title color-blue">{{ pledge.deal_name }}</p>
                    <p class="opportunities-content-txt">Pledged: <span>£{{ numberWithCommas(pledge.amount) }}</span></p>
                </ion-label>
                <ion-icon name="arrow-forward" *ngIf="pledge.status !== 'Close'"></ion-icon>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="isReady && !pledges" class="flex-content">
        <div class="description">
            <ion-icon class="opportunities-icon"></ion-icon>
            <div class="ion-text-center">
                <ion-label class="opportunities-txt">
                    No Data Available
                </ion-label>
            </div>
        </div>
    </div>

<!--    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">-->
<!--        <ion-infinite-scroll-content-->
<!--                loadingSpinner="bubbles"-->
<!--                loadingText="Loading more data...">-->

<!--        </ion-infinite-scroll-content>-->
<!--    </ion-infinite-scroll>-->

</ion-content>
