ion-list {
    ion-item {
        margin: 15px 0;
        border-radius: 7px;
        box-shadow: 0px 1px 3px #ebebebcf;
        ion-icon {
            color: gray;
            font-size: 22px;
        }
        ion-thumbnail {
            width: 70px;
            height: auto;
            min-height: 100px;
            margin: auto 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        ion-label {
            &.item-content {
                padding-left: 10px;
            }
            .opportunities-title {
                font-weight: 500;
                display: block;
                font-size: 17px;
                line-height: 20px;
                letter-spacing: 0.4pt;
                color: #3a8093!important;
                white-space: pre-wrap;
            }
            .opportunities-content-txt {
                display: block;
                font-size: 16px;
                line-height: 30px;
                color: #666674;
                white-space: pre-wrap;
            }
            .percent {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    ion-col {
        min-width: 60px;
    }
    .nomal-card {
        text-align: center;
        border-left: 4px solid #3a8093;
        border-radius: 8px;
        margin: 8px 2px;
        background: white;
        .nomal-card-header {
            padding: 4px 4px 5px;
            .card-header-txt {
                font-size: 12px;
                line-height: 13px;
            }
        }
        .nomal-card-content1 {
            padding: 0px 4px 18px;
            .card-content-txt {
                font-size: 10px;
                line-height: 15px;
                letter-spacing: 0.4pt;
                white-space: pre-wrap;
            }
        }
    }
    ion-label {
        &.left-day {
            color: #ACAEB1;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 0.6pt;
            text-align: right;
            padding: 0 10px;
            text-transform: capitalize;
        }
        &.target-money {
            text-align: center;
            font-size: 11.96px;
            line-height: 29.91px;
            letter-spacing: 0.2pt;
            padding-left: 8px;
        }
    }
}

.deals-container {
    padding: 0 20px;
}

.opportunities-content-detail {
    padding: 0px 15px 20px;
    ion-col {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ion-label {
            &.opportunities-type {
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.4pt;
                color: #666674;
            }
            &.opportunities-value {
                font-size: 13px;
                line-height: 19px;
                letter-spacing: 0.4pt;
                font-weight: 500;
            }
        }
        &.border-right {
            border-right: 2px solid #3a8093;
        }
    }
}


.flex-content {
    align-items: center;
    height: 70%;
    ion-label {
        &.opportunities-txt {
            padding-top: 20px;
            font-size: 12px;
            display: block;
            line-height: 20px;
            letter-spacing: 0.6pt;
            color: #707070;
        }
    }
}
