.mati-content{
  padding: 15px 0;
  ion-avatar{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    img{
      border-radius: 50%;
      box-shadow: 0 0 5px grey;
      background-size: cover;
      background-image: url(/assets/img/profile.jpg);
      background-position: center;
    }
  }
  ion-label{
    text-align: center;
    display: block;
    line-height: 27px;
    text-transform: capitalize;
    font-size: 14px;
    color: gray;
    padding: 0 30px;
    &.user_name{
      text-transform: uppercase;
      font-size: 16px;
      color: black;
    }
  }

}
