<ion-content>
  <div class="header-content">
    <ion-icon name="close" (click)="closeModal()"></ion-icon>
    <ion-label class="mm-header-txt"><span class="pound">£</span>{{ amount }}</ion-label>
    <ion-label class="mm-content-txt">
      <span *ngIf="deal.logo_image">
        <ion-img [src]="deal.logo_image"></ion-img>
      </span>
      <ngx-avatar *ngIf="!deal.logo_image" [round]="true" bgColor="#4f8d9f0f" fgColor="#3a8093" initialsSize="3" name="{{ deal.deal_name }}"
                  size="25"></ngx-avatar>
      {{ deal.deal_name }}
    </ion-label>
  </div>
  <div class="spiner-content" *ngIf="!deal.invested">
    <ion-spinner name="lines"></ion-spinner>
  </div>
  <div class="card-content" *ngIf="deal.invested">
    <ion-label class="card-header-txt">Your investment overview</ion-label>

    <ion-label class="content-title">Overall investments</ion-label>
    <ion-label class="content-value"><span class="pound">£</span>{{ deal.invested }}</ion-label>

    <ion-label class="content-title" *ngIf="deal.deal_type ==='Equity'">No. Shares</ion-label>
    <ion-label class="content-value" *ngIf="deal.deal_type ==='Equity'"><span class="pound"></span>{{ deal.total_shares }}</ion-label>

    <ion-label class="content-title" *ngIf="deal.deal_type ==='Equity'">Share Price</ion-label>
    <ion-label class="content-value" *ngIf="deal.deal_type ==='Equity'"><span class="pound">£</span>{{ deal.share_price }}</ion-label>

    <ion-label class="content-title" *ngIf="deal.deal_type !=='Equity'">Total ROI</ion-label>
    <ion-label class="content-value" *ngIf="deal.deal_type !=='Equity'"><span class="pound">£</span>{{ deal.tot_roi }}</ion-label>

    <ion-label class="content-title" *ngIf="deal.deal_type !=='Equity'">Last ROI</ion-label>
    <ion-label class="content-value" *ngIf="deal.deal_type !=='Equity'"><span class="pound">£</span>{{ deal.last_roi }}</ion-label>

    <ion-label class="content-title">Total withdrawn</ion-label>
    <ion-label class="content-value"><span class="pound">£</span>{{ deal.tot_withdrawn }}</ion-label>
  </div>
  <ion-button class='normal bg-blue modal-btn' mode='ios' (click)="gotoViewDeal()">
    View Deal
  </ion-button>
</ion-content>
