<form (ngSubmit)="onFormSubmit()" [formGroup]="validate_form" class="custom-body">
  <div class="form-content">
    <ion-list>
      <div class="input-item">
        <ion-item mode='ios'>
          <ion-icon class="lock"></ion-icon>
          <ion-input (keypress)="userTypingForm($event)" [type]="oldPasswordType" formControlName="oldPassword"
                     name="oldPassword" placeholder="Enter your old password">
          </ion-input>
          <ion-icon class="nomal-icon" (click)="oldtogglePassword()" [color]="oldPasswordShown === true ? 'dark' : 'gray'"
                    [name]="oldPasswordShown === true ? 'eye-off' : 'eye'" class="eye-icon">
          </ion-icon>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.oldPassword">
            <div *ngIf="validate_form.get('oldPassword').hasError(validation.type) && (validate_form.get('oldPassword').dirty || validate_form.get('oldPassword').touched || submitState)"
                 class="error-message">
              <ion-label>{{ validation.message }}</ion-label>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="input-item">
        <ion-item mode='ios'>
          <ion-icon class="lock"></ion-icon>
          <ion-input (keypress)="userTypingForm($event)" [type]="newPasswordType" formControlName="newPassword"
                     name="newPassword" placeholder="Enter your new password">
          </ion-input>
          <ion-icon class="nomal-icon" (click)="newtogglePassword()" [color]="newPasswordShown === true ? 'dark' : 'gray'"
                    [name]="newPasswordShown === true ? 'eye-off' : 'eye'" class="eye-icon">
          </ion-icon>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.newPassword">
            <div *ngIf="validate_form.get('newPassword').hasError(validation.type) && (validate_form.get('newPassword').dirty || validate_form.get('newPassword').touched || submitState)"
                 class="error-message">
              <ion-label>{{ validation.message }}</ion-label>
            </div>
          </ng-container>
        </div>
      </div>
    </ion-list>
    <ion-row class="save-button-right">
      <ion-button [disabled]="isSubmitReady" class="bg-blue" mode='ios' type="submit">
        <ion-spinner *ngIf="isSubmitReady" name="lines"></ion-spinner>
        Save
      </ion-button>
    </ion-row>
  </div>
</form>
