.stick1{
  width: 6px;
  background: #c9c9c9;
  -webkit-transition: height 1.2s;
  transition: height 1.2s;
  position: absolute;
  height: 60px;
}

.stick2{
  width: 9px;
  background: #c9c9c9;
  -webkit-transition: height 1.2s;
  transition: height 1.2s;
  position: absolute;
  height: 60px;
}

.stick3{
  width: 13px;
  background: #c9c9c9;
  -webkit-transition: height 1.2s;
  transition: height 1.2s;
  position: absolute;
  height: 60px;
}
