ion-content {
  --overflow: hidden;

  .flex-custom {
    padding: 30px 0;
  }

  ion-list {
    --margin-bottom: 32px;

    &.mdl-title {
      text-align: center;

      ion-label {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4pt;
      }
    }
  }

  ion-label {
    &.mdl-content-txt {
      text-align: center;
      padding: 0 40px 29px;
      display: block;
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.2pt;
    }
  }

  ion-row {
    padding: 0 20px;

    ion-button {
      &.modal-btn {
        margin: 0 auto;
        display: block;
        height: 28px;
        font-size: 10px;
        line-height: 12px;
        width: 40%;
      }

      &.btn-white {
        margin: 0 auto;
        display: block;
        height: 28px;
        font-size: 10px;
        line-height: 12px;
        width: 40%;
        --background: white;
        --color: #3a8093;
        border: 1px solid;
        border-radius: 7px;
        --background-focused: #D9E4F5;
        --background-activated: #D9E4F5;
        --color-activated: #3a8093;
        --color-focused: #3a8093;
      }
    }
  }
}

ion-icon.warning-icon {
  width: 90px;
  height: 90px;
  margin: 15px auto
}
