<ion-content>
    <div class="header-content">
      <ion-icon name="close" (click)="closeModal()"></ion-icon>
      <ion-label class="mm-header-txt"><span class="pound">£</span> {{ balance }}</ion-label>
      <ion-label class="mm-content-txt">
          <span *ngIf="logo_image">
            <ion-img [src]="logo_image"></ion-img>
          </span>
          <ngx-avatar *ngIf="!logo_image" [round]="true" bgColor="#4f8d9f0f" fgColor="#3a8093" initialsSize="3" name="{{ deal_name }}"
                      size="25"></ngx-avatar>
          {{ deal_name }}</ion-label>
    </div>
    <div class="card-content">
      <ion-label class="card-header-txt">Your investment overview</ion-label>

      <ion-label class="content-title">Overall investments</ion-label>
      <ion-label class="content-value"><span class="pound">£</span>{{ invested }}</ion-label>

      <ion-label class="content-title" *ngIf="deal_type">No. Shares</ion-label>
      <ion-label class="content-value" *ngIf="deal_type"><span class="pound"></span>{{ noOfShares }}</ion-label>

      <ion-label class="content-title" *ngIf="deal_type">Share Price</ion-label>
      <ion-label class="content-value" *ngIf="deal_type"><span class="pound">£</span>{{ sharePrice }}</ion-label>

      <ion-label class="content-title" *ngIf="!deal_type">Total ROI</ion-label>
      <ion-label class="content-value" *ngIf="!deal_type"><span class="pound">£</span>{{ tot_roi }}</ion-label>

      <ion-label class="content-title" *ngIf="!deal_type">Last ROI</ion-label>
      <ion-label class="content-value" *ngIf="!deal_type"><span class="pound">£</span>{{ last_roi }}</ion-label>

      <ion-label class="content-title">Total withdrawn</ion-label>
      <ion-label class="content-value"><span class="pound">£</span>{{ tot_withdrawn }}</ion-label>
    </div>
    <ion-button class='normal bg-blue modal-btn' mode='ios' (click)="closeModal()">
      Close
    </ion-button>
</ion-content>
