<ion-content>
  <form (ngSubmit)="onSinginSubmit()" [formGroup]="validate_form" class="custom-body">
    <div class="flex-custom">
      <ion-icon class="forgot-password-icon"></ion-icon>
      <ion-label class="mdl-title color-blue"> Verify OTP</ion-label>

      <ion-label class="mdl-content-txt">
        Please check your email and enter the opt.
      </ion-label>
      <ion-list mode='ios'>
        <ion-input formControlName="otp" mode="ios" name="otp" placeholder="Enter your otp."
                   type="number"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.otp">
            <div *ngIf="validate_form.get('otp').hasError(validation.type) && (validate_form.get('otp').dirty || validate_form.get('otp').touched || submitState)"
                 class="error-message">
              <ion-label>{{ validation.message }}</ion-label>
            </div>
          </ng-container>
        </div>
      </ion-list>
      <ion-button [disabled]="isAuthSignin" class='normal bg-blue modal-btn' mode='ios' type="submit">
        <ion-spinner *ngIf="isAuthSignin" name="lines"></ion-spinner>
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>
