ion-content {
  --padding-top: 15px;
  --padding-bottom: 25px;
  .spiner-content{
    height: calc(100% - -25px);
  }

  ion-label {
    &.header-title {
      display: block;
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;
      padding-bottom: 8px;
    }

    &.content-title {
      display: block;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.4pt;
      color: #666674;
      padding-bottom: 10px;
    }

    &.read-more {
      display: block;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0.4pt;
      text-align: right;
    }
  }

  mat-video {
    border-radius: 7px;
    padding: 0 18px;
  }

  .file-content {
    ion-col {
      ion-img {
        width: 37.5px;
        height: 42.41px;
        margin: 32px auto 0;
      }

      ion-label {
        display: block;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.4pt;
        text-align: center;
        margin-bottom: 18px;
        padding-top: 10px;
      }
    }
  }
  ion-button{
    &.invest-today{
      position: fixed;
      bottom: 0;
      padding: 0 20px;
      width: 100%;
      margin: 15px auto;
    }
  }
}

ion-header {
  ion-label {
    &.header-txt {
    }
  }
}
