.stick1{
  width: 6px;
  background: white;
  -webkit-transition: height 1.2s;
  transition: height 1.2s;
  position: absolute;
  height: 60px;
  left: 0;
}

.stick2{
  width: 9px;
  background: white;
  -webkit-transition: height 1.2s;
  transition: height 1.2s;
  position: absolute;
  height: 60px;
  left: 0;
}

.stick3{
  width: 13px;
  background: white;
  -webkit-transition: height 1.2s;
  transition: height 1.2s;
  position: absolute;
  height: 60px;
  left: 0;
}
