<ion-header>
  <div class="header-content">
    <ion-icon name="close" (click)="closeModal()"></ion-icon>
    <ion-label class="mm-content-txt">
      {{ deal.deal_name }}
    </ion-label>
    <ion-label class="bank-title">Bank Details</ion-label>
  </div>
</ion-header>
<ion-content>
  <ion-card class="back-blue" mode="ios">
    <ion-card-content>
      <ion-item  mode="ios" lines="none">
          <ion-label class="white pre">Recipient's Name: </ion-label>
          <ion-label class="white lat">{{ bankDetails?.recipient_name ? bankDetails?.recipient_name: '' }}</ion-label>
      </ion-item>
      <ion-item  mode="ios" lines="none">
          <ion-label class="white pre">Recipient’s Address: </ion-label>
          <ion-label class="white lat">{{ bankDetails?.address ? bankDetails?.address: '' }}</ion-label>
      </ion-item>
      <ion-item  mode="ios" lines="none">
          <ion-label class="white pre">Bank account name:</ion-label>
          <ion-label class="white lat">{{ bankDetails?.bank_name ? bankDetails?.bank_name: '' }}</ion-label>
      </ion-item>
      <ion-item  mode="ios" lines="none">
          <ion-label class="white pre">Sort code: </ion-label>
          <ion-label class="white lat">{{ bankDetails?.sort_code ? bankDetails?.sort_code: '' }}</ion-label>
      </ion-item>
      <ion-item  mode="ios" lines="none">
          <ion-label class="white pre">Account number: </ion-label>
          <ion-label class="white lat">{{ bankDetails?.account_number ? bankDetails?.account_number: '' }}</ion-label>
      </ion-item>
      <ion-item  mode="ios" lines="none">
          <ion-label class="white pre">Reference: </ion-label>
          <ion-label class="white lat">{{ bankDetails?.reference ? bankDetails?.reference: '' }}</ion-label>
      </ion-item>
      <ion-item  mode="ios" lines="none">
          <ion-label class="white pre">Screenshot: </ion-label>
          <ion-label class="white lat">{{ bankDetails?.screenshot ? bankDetails?.screenshot: '' }}</ion-label>
      </ion-item>
      <div class="horizontal-flex">
          <ion-label class="white">Currency:{{ bankDetails?.currency ? bankDetails?.currency: '' }}</ion-label>
          <ion-label class="white">IBAN:{{ bankDetails?.iban ? bankDetails?.iban: '' }}</ion-label>
          <ion-label class="white">BIC:{{ bankDetails?.bic ? bankDetails?.bic: '' }}</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
      <ion-button class="normal bg-blue modal-btn" mode="ios" (click)="closeModal()">
        Close
      </ion-button>
</ion-footer>
