ion-header {
  ion-toolbar {
    --background: #3a8093;
  }
  ion-label {
    &.header-txt {
      padding-left: 24px;
      color: white;
    }
  }
}

ion-content {
  .cache-out-header-bg {
    width: 100%;
    min-height: 50%;
    background-color: #3a8093;
    position: absolute;
    border-radius: 0 0 10px 10px;
  }
  .cache-out-header {
    //width: 100%;
    //background-color: #3a8093;
    //padding: 20px;
    position: relative;
    border-radius: 10px;

    .description-header {
      padding-top: 15px;
      color: white;
      margin-bottom: 30px;
      align-items: center;
    }

    .header-card {
      background-color: white;
      border-radius: 8px;
      text-align: center;
      padding: 20px 0px;
      margin: 0 20px 20px;
      box-shadow: 0px 1px 3px #b3c4c8ab;

      .mm-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .card-description {
          margin-bottom: 30px;
          display: flex;
          align-items: center;
        }

        .black-question-icon {
          margin-left: 10px;
        }

        ion-list {
          padding-right: 15px;
          margin-bottom: 0px;
          width: 75%;
          min-width: 75%;
          max-width: 500px;

          .validation-errors {
            padding: 0 10px;
            .error-message {
              padding: 5px 10px 0;
              font-size: 10px;
              color: #d12a27;
            }
          }

          ion-select {
            border-bottom: 1px solid #D1D0D5;
            margin-left: 17px;
            padding-bottom: 5px;
            font-size: 16px;
            text-align: left;
          }

          ion-item {
            font-size: 16px;
            margin-bottom: 10px;
            ion-input {
              --padding-bottom: 0px;
            }
          }

          ion-button {
            &.normal {
              --background: #e0352e;
              margin: 25px 0px 0 15px;
              font-size: 16px;
            }
          }
        }
      }
      ion-label {
        color: #333959;
        &.mm-header-txt {
          font-size: 35px;
          line-height: 40px;
          display: block;
          padding-top: 10px;
          font-weight: bold;
          .pound {
            font-size: 30px;
          }
        }

        &.mm-content-txt {
          font-size: 17px;
          line-height: 17px;
          padding: 5px 0;
        }

        &.pound-txt {
          margin-bottom: 0px;
          color: #ACACB7;
        }
      }
    }
  }

}
