ion-content {
  --padding-top: 15px;
  --background: #f9f9f9;
  .bg-green{
    background: #3a8093;
    top: 0;
    height: 100px;
    width: 100%;
    position: absolute;
  }
  .description-header{
    position: absolute;
    color: white;
  }
  ion-card{
    box-shadow: unset;
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    //box-shadow: 0px 1px 5px rgba(0,0,0,.12);
    ion-card-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      ion-card-title{
        font-size: 18px;
        font-weight: 400;
      }
      ion-icon{
        font-size: 20px;
      }
    }
    ion-card-content{
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  app-basic-info-form{
    width: 100%;
  }
  app-address-form{
    width: 100%;
  }
  app-contact-number-form{
    width: 100%;
  }
  app-change-password-form{
    width: 100%;
  }
  app-bank-details-form{
    width: 100%;
  }
  app-goto-investor-type-form{
    width: 100%;
  }
  app-signature-form{
    width: 100%;
  }
  .footer {
    position: fixed;
    bottom: 33.1px;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
}

ion-header {
  margin-top: 0px !important;
  padding-bottom: 10px;
  padding-top: 10px;
  ion-toolbar {
    --background: #3a8093;
  }
  ion-label {
    &.header-txt {
      padding-left: 24px;
      color: white;
      opacity: 1 !important;
    }
  }
}

.expand-wrapper {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  max-height: 2000px;
}

.collapsed {
  max-height: 0 !important;
  //display: none;
}

ion-card-content{
  padding-top: 0px;
  padding-bottom: 0px;
}
